<%- include('header'); -%>
<%- include('navbar'); -%>

<!-- about page -->
<div class="container">

  <div class="jumbotron">
    <h1>Developer</h1>
    <h4>Contact <b>JBS team 4</b> for more information</h4>
  </div>
</div>

<%- include('footer'); -%>
