<%- include('header'); -%>
<%- include('navbar'); -%>


<!-- about page -->
<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        Company Info
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__content section__content--fluid-width text-center">
    <h1><b>Our mission</b></h1>
    <hr>
    <p class="text-center"> iClaster is a student developed project that aims to provide an integrated study discussion platform that solves underserved needs. It provides online student discussion, face-to-face study group meetup, and tutor tutee mentoring.</p>
    <hr>
    <br>

    <h1><b>Our Team</b></h1>
  </div>

</section>



<section class="section">

  <div class="container">
    <hr>

    <div class="row">

      <div class="col-md-4 col-sm-4">
        <div class="card mx-auto text-center">
          <div class="card-body">
            <img src="images/IrisHao.jpg" alt="Iris" style="width:100%; height:300px">
            <h2>Iris Hao</h2> <br>
            Business Development <br>
            Iris is a Junior at Brandeis University double majoring in Business and IGS. <br>
            yhao@brandeis.edu
            <br><br>
            <a href="mailto:yhao@brandeis.edu" class="btn btn-outline-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="card mx-auto text-center">
          <div class="card-body">
            <img src="images/HangyuDu.jpg" alt="Hangyu" style="width:100%; height:300px">
            <h2>Hangyu Du</h2> <br>
            Developer <br>
            Hangyu is a Junior at Brandeis University majoring in computer science and economics. <br>
            supremeethan@brandeis.edu
            <br><br>
            <a href="mailto:supremeethan@brandeis.edu" class="btn btn-outline-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="card mx-auto text-center">
          <div class="card-body">
            <img src="images/HuiyanZhang.jpg" alt="John" style="width:100%; height:300px">
            <h2>Huiyan Zhang</h2> <br>
            UI Design <br>
            Huiyan is a Junior at Brandeis University majoring in computer science and economics. <br>
            nicolezhang@brandeis.edu
            <br><br>
            <a href="mailto:nicolezhang@brandeis.edu" class="btn btn-outline-primary">Contact</a>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">

      <div class="col-md-4 col-sm-4">
        <div class="card mx-auto text-center">
          <div class="card-body">
            <img src="images/JiaxinLi.jpg" alt="John" style="width:100%; height:300px">
            <h2>Jiaxin Li</h2><br>
            Developer<br>
            Jiaxin is a Junior at Brandeis University majoring in computer science and economics. <br>
            richardli@brandeis.edu
            <br><br>
            <a href="mailto:richardli@brandeis.edu" class="btn btn-outline-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="card mx-auto text-center">
          <div class="card-body">
            <img src="images/KaimingWang.jpg" alt="John" style="width:100%; height:300px">
            <h2>Kaiming Wang</h2><br>
            Developer<br>
            Kaiming is a Junior at Brandeis University majoring in computer science and math.<br>
            kaimingwang@brandeis.edu
            <br><br>
            <a href="mailto:kaimingwang@brandeis.edu" class="btn btn-outline-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="card mx-auto text-center">
          <div class="card-body">
            <img src="images/TimHickey.jpg" alt="John" style="width:100%; height:300px">
            <h2>Timothy J Hickey</h2><br>
            Supervisor<br>
            Professor Hickey teaches computer science at Brandeis University.<br>
            tjhickey@brandeis.edu
            <br><br>
            <a href="mailto:tjhickey@brandeis.edu" class="btn btn-outline-primary">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <hr>

  </div>
</section>



<%- include('footer'); -%>
