<%- include('header'); -%>
<%- include('navbar'); -%>

<!-- about page -->

<div class="jumbotron masthead">
  <h1>Developer</h1>
  <br>
  <h4>Contact <b>SuperTeam</b> for more information</h4>
</div>

<div class="container-fluid">



</div>

<%- include('footer'); -%>
