<%- include('header'); -%>
<%- include('navbar'); -%>

<!-- about page -->
<div class="jumbotron masthead parallax" id="superView">
  <h1 id="welcome">Developer</h1>
  <br>
  <h4 id="welcome">Contact <b>SuperTeam</b> for more information</h4>
</div>

<%- include('footer'); -%>
