<%- include('header'); -%>
<%- include('navbar'); -%>

<!-- about page -->
<div class="jumbotron masthead text-center parallax" id="superView">
  <div class="card mx-auto" id="cardStyle">
    <div class="card-body">
      <h1>Developer</h1>
      <h4>Contact <b>SuperTeam</b> for more information</h4>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Made by SuperTeam from <a href="http://www.brandeis.edu">Brandeis University</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
