<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <h1>Classes</h1>
        <h2>Add classes and view all available classes here</h2>

      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <form action="/createClass" method="post">
      <div class="row text-center">

        <div class="col">
          <div class="input-group-prepend">
            <span class="input-group-text">Subject</span>
            <input type="text" class="form-control" name="subject">
          </div>
        </div>

        <div class="col">
          <div class="input-group-prepend">
            <span class="input-group-text">Course number</span>
            <input type="text" class="form-control" name="courseNum">
          </div>
        </div>

        <div class="col-1">
          <input type="submit" class = "btn btn--blue-bg" value = "CREATE">
        </div>

      </div>
    </form>

  </div>
</section>

<section class="section">
  <div class="container text-center" style="width:50%;">
    <div class="row">
      <% for (i = 0; i < classes.length; i++){%>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4>Class code: <%=classes[i].classCode%></h4>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <br>
      <% } %>
    </div>
  </div>
</section>


  <%- include('footer'); -%>
