<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <h1>CLASS NOT FOUND!</h1>
        <h2>You can go to <a href="/classes">Here</a> to find all available classes</h2>
      </div>
    </div>
  </div>
</section>


<%- include('footer'); -%>
