<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section section--grey">
    <div class="section__content section__content--fixed-width">
        <div class="jumbotron masthead diagonal-gradient text-center" id="whiteFont">
            <div class="section__title section__title--centered">
                Class not found!
            </div>
            <h3>You can go to <a href="/classes">Here</a> to find all available classes</h3>

        </div>
    </div>
</section>


<%- include('footer'); -%>
