<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section section--grey">
    <div class="section__content section__content--fixed-width">
        <div class="jumbotron masthead diagonal-gradient text-center" id="whiteFont">
            <div class="section__title section__title--centered">
                <h1>Woops, your input is empty</h1>
            </div>
            <h3>Please go <a href="<%= goBackURL %>"> back </a> and try again</h3>
        </div>
    </div>
</section>


<%- include('footer'); -%>
