<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <h1>Wooo, your input is empty</h1>
        <h2>Please go <a href="/classes">back</a> and try again</h2>

      </div>
    </div>
  </div>
</section>


<%- include('footer'); -%>
