<%- include('header'); -%>
<%- include('navbar'); -%>

<!-- Q&A page -->
<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        Frequently Asked Questions
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section__content section__content--fixed-width">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
            <button type="button"  class="  btn-secondary  btn-lg btn-block " disabled>About iClaster: General Service</button>
            <button type="button" class=" btn-light btn-link btn-lg btn-block"  aria-selected="false" role="tab" data-toggle="pill" aria-controls="tab1" href="#tab1"><h5><strong>Our Company</strong></h5></button>
            <button type="button" class=" btn-light btn-link btn-lg btn-block"  aria-selected="false" role="tab" data-toggle="pill" aria-controls="tab2" href="#tab2"><h5><strong>Technical Support</strong></h5></button>
            <button type="button" class=" btn-light btn-link btn-lg btn-block" aria-selected="false" role="tab" data-toggle="pill" aria-controls="tab3" href="#tab3"><h5><strong>General help</strong></h5></button>
            <button type="button" class="  btn-secondary  btn-lg btn-block" disabled>About iClaster: Function Support</button>
            <button type="button" class=" btn-light btn-link btn-lg btn-block" aria-selected="false" role="tab" data-toggle="pill" aria-controls="tab4" href="#tab4"><h5><strong>Forum</strong></h5></button>
            <button type="button" class=" btn-light btn-link btn-lg btn-block" aria-selected="false" role="tab" data-toggle="pill" aria-controls="tab5" href="#tab5"><h5><strong>Tutor</strong></h5></button>
            <button type="button" class=" btn-light btn-link btn-lg btn-block" aria-selected="false" role="tab" data-toggle="pill" aria-controls="tab6" href="#tab6"><h5><strong>Transactions</strong></h5></button>
          </div>
        </div>

        <div class="col-md-9 col-sm-9">
            <div class="tab-content" id="faq-tab-content">
              <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div class="accordion" id="accordion-tab-1">
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-1">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">What is iClaster?</button>
                      </h5>
                    </div>
                    <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                      <div class="card-body">
                        <p><strong>iClaster </strong>got its name from the combination of Class and Cluster. We are a student team based on Brandeis University that is dedicated to provide services for college students to study both online and offline</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-2">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">How does iClaster work generally?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                      <div class="card-body">
                        <p>You firstly enroll in classes you are taking. Then you can post your questions and answer others' questions in the class forum. Once you finish your class and feel confident, you can become a tutor in the class and match with tutees in the tutoring section. In the future,  you will also be able to find your study buddy in our sharing your location function.</p>

                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-3">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">Why iClaster?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                      <div class="card-body">
                        <p>iClaster is the best way for you to get study help fast and earn some extra money while refreshing your knowledge.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-4">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">Can I use iClaster in my class?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                      <div class="card-body">
                        <p>Sure. You can use iClaster in every class. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                <div class="accordion" id="accordion-tab-2">
                  <div class="card">
                    <div class="card-header" id="accordion-tab-2-heading-1">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-1" aria-expanded="false" aria-controls="accordion-tab-2-content-1">Can I view Claster on my phone?</button>
                      </h5>
                    </div>
                    <div class="collapse show" id="accordion-tab-2-content-1" aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                      <div class="card-body">
                        <p>Yes you can, just click your on-phone browser and enter our webpage. We have optimized to view our website on your phone's resolution.</p>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-2-heading-2">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">Is there an IOS or Android app for Claster?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                      <div class="card-body">
                        <p>There is no IOS or Android app for our app right now, we are constantly developing and we will release later.</p>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-2-heading-3">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-3" aria-expanded="false" aria-controls="accordion-tab-2-content-3">I found a bug, what can I do?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-2-content-3" aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                      <div class="card-body">
                        <p>You can contact us through the 'contact' page</p>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-2-heading-4">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-4" aria-expanded="false" aria-controls="accordion-tab-2-content-4">Is my personal information safe?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-2-content-4" aria-labelledby="accordion-tab-2-heading-4" data-parent="#accordion-tab-2">
                      <div class="card-body">
                        <p>Please do not post your personal information online. Our honor code promises our users that we can store our customers' informatiion safely and never use them without direct confirmatiion.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                <div class="accordion" id="accordion-tab-3">
                  <div class="card">
                    <div class="card-header" id="accordion-tab-3-heading-1">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-1" aria-expanded="false" aria-controls="accordion-tab-3-content-1">How does my Tutor score fluctuate?</button>
                      </h5>
                    </div>
                    <div class="collapse show" id="accordion-tab-3-content-1" aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                      <div class="card-body">
                        <p>You tutor score is based on the comments and ratings that you receive. It is also related to your activities in the forum</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-3-heading-2">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-2" aria-expanded="false" aria-controls="accordion-tab-3-content-2">There are multiple sessions in my class, what should I do?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-3-content-2" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                      <div class="card-body">
                        <p>You can add your session through the add class page. If a conflict occurs, you can contact us for solution</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-3-heading-3">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-3" aria-expanded="false" aria-controls="accordion-tab-3-content-3">I found someone posted an answer directly, where should I report it?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-3-content-3" aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                      <div class="card-body">
                        <p>You can click contact us to report this incidence. Please help us to maintain a healthy community.
                        </p>
                          </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-3-heading-4">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-4" aria-expanded="false" aria-controls="accordion-tab-3-content-4">My tutor didn't show up or performed badly, what should I do?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-3-content-4" aria-labelledby="accordion-tab-3-heading-4" data-parent="#accordion-tab-3">
                      <div class="card-body">
                        <p>You can rate your tutor after your order is completed. Other than that, you can contact us for further information</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                <div class="accordion" id="accordion-tab-4">
                  <div class="card">
                    <div class="card-header" id="accordion-tab-4-heading-1">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-1" aria-expanded="false" aria-controls="accordion-tab-4-content-1">How to use Latex?</button>
                      </h5>
                    </div>
                    <div class="collapse show" id="accordion-tab-4-content-1" aria-labelledby="accordion-tab-4-heading-1" data-parent="#accordion-tab-4">
                      <div class="card-body">
                        <p>We have included a Latex handbook below the question answer panel and you can access the further information there.</p>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-4-heading-2">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-2" aria-expanded="false" aria-controls="accordion-tab-4-content-2">How should I answer questions?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-4-content-2" aria-labelledby="accordion-tab-4-heading-2" data-parent="#accordion-tab-4">
                      <div class="card-body">
                        <p>You can answer your question according to our honor code, as no answer should ever be posted. Other than that, please be constructive.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-4-heading-3">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-3" aria-expanded="false" aria-controls="accordion-tab-4-content-3">In what order are questions answered?
</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-4-content-3" aria-labelledby="accordion-tab-4-heading-3" data-parent="#accordion-tab-4">
                      <div class="card-body">
                        <p>Questions are answered according to the time sequence.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-4-heading-4">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-4" aria-expanded="false" aria-controls="accordion-tab-4-content-4">How should I ask questions?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-4-content-4" aria-labelledby="accordion-tab-4-heading-4" data-parent="#accordion-tab-4">
                      <div class="card-body">
                        <p>You can ask question by posting on the forum according to our guideline</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                <div class="accordion" id="accordion-tab-5">
                  <div class="card">
                    <div class="card-header" id="accordion-tab-5-heading-1">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1">How to become a tutor?
</button>
                      </h5>
                    </div>
                    <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                      <div class="card-body">
                        <p>To become a tutor, simply click the tutor register panel on top to follow the instruction and register as a tutor</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-5-heading-2">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-2" aria-expanded="false" aria-controls="accordion-tab-5-content-2">Why should I become a tutor?
</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-5-content-2" aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                      <div class="card-body">
                        <p>As a tutor, you can earn your own payback for your knowledge by posting yourself on our platform. Not only can you help other fellow peers but can also gain yourself experience in part time work.</p>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-5-heading-3">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-3" aria-expanded="false" aria-controls="accordion-tab-5-content-3">How do I contact tutor?
</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-5-content-3" aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                      <div class="card-body">
                        <p>You can view your tutor's information through their profile. It can be email or phone</p>
                          </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-5-heading-4">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-4" aria-expanded="false" aria-controls="accordion-tab-5-content-4">How do I change meeting time with my tutor?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-5-content-4" aria-labelledby="accordion-tab-5-heading-4" data-parent="#accordion-tab-5">
                      <div class="card-body">
                        <p>You can submit an email to our service team and a member will be with you shortly</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab6" role="tabpanel" aria-labelledby="tab6">
                <div class="accordion" id="accordion-tab-6">
                  <div class="card">
                    <div class="card-header" id="accordion-tab-6-heading-1">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-1" aria-expanded="false" aria-controls="accordion-tab-6-content-1">How to pay for your Tutor?</button>
                      </h5>
                    </div>
                    <div class="collapse show" id="accordion-tab-6-content-1" aria-labelledby="accordion-tab-6-heading-1" data-parent="#accordion-tab-6">
                      <div class="card-body">
                        <p>Tutee can pay their tutors throguh Venmo as their scheduled price discussed in the message board.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-6-heading-2">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-2" aria-expanded="false" aria-controls="accordion-tab-6-content-2">How do tutors get their payment?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-6-content-2" aria-labelledby="accordion-tab-6-heading-2" data-parent="#accordion-tab-6">
                      <div class="card-body">
                        <p>We use venmo pay to power our transactions. Registered tutors will receive their scheduled payment through their Venmo account</p>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-6-heading-3">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-3" aria-expanded="false" aria-controls="accordion-tab-6-content-3">How much service fee does Claster take?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-6-content-3" aria-labelledby="accordion-tab-6-heading-3" data-parent="#accordion-tab-6">
                      <div class="card-body">
                        <p>We take 7.99% of the tutor fee as our platform fee. It's the source of our revenue as we are dedicated to provide excellent service continously.
                        </p>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-6-heading-4">
                      <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-4" aria-expanded="false" aria-controls="accordion-tab-6-content-4">How to use a coupon?</button>
                      </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-6-content-4" aria-labelledby="accordion-tab-6-heading-4" data-parent="#accordion-tab-6">
                      <div class="card-body">
                        <p>We are still developing this function. If you are invited into our beta test, you would automatically be enrolled into our tutor discounts for your first hour's purchase
                        </p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          <br><br>

<%- include('footer'); -%>
