<footer class="footer" id="footer">
  <div class="footer__content footer__content--fluid-width footer__content--svg">
    <div class="container">
      <div class="grid grid--5col">

        <div class="grid__item grid__item--x2">
          <h3 class="grid__title grid__title--footer-logo">Claster</h3>
          <p class="grid__text grid__text--copyright">Copyright &copy; 2019 Brandeis SuperTeam.  <br />All Rights Reserved.</p>
        </div>

        <div class="grid__item">
          <h3 class="grid__title grid__title--footer">Development Team</h3>
          <ul class="grid__list grid__list--fmenu">
            <li><a href="/about">About</a></li>
            <li><a href="#">Locations</a></li>
          </ul>
        </div>

        <div class="grid__item">
          <h3 class="grid__title grid__title--footer">Support</h3>
          <ul class="grid__list grid__list--fmenu">
            <li><a href="#">Contact</a></li>
            <li><a href="/FAQ">FAQ</a></li>

          </ul>
        </div>

      </div>
    </div>


  </div>

</footer>
</body>
</html>
