<%- include('header'); -%>
<%- include('navbar'); -%>

<div class="jumbotron masthead parallax" id="superView">
  <h1 id="welcome">Welcome to <b>Claster!</b></h1>
  <% if (loggedIn) {%>
  <h4 id="welcome">Hello, <%=req.user.userName%></h4>
  <h4 id="welcome">YOU ARE LOGGED IN!</h4>
  <% } else {%>
  <h4 id="welcome">PLEASE LOG IN!</h4>
  <% } %>
</div>

<%- include('footer'); -%>
