<%- include('header'); -%>
<%- include('navbar'); -%>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <h4>Call me Mountain Man</h4>
    </div>
  </div>
<%- include('footer'); -%>
