<%- include('header'); -%>
<%- include('navbar'); -%>

<div class="jumbotron masthead text-center parallax" id="superView">
    <div class="card mx-auto">
      <div class="card-body">
        <% if (loggedIn) {%>
        <h4 class="card-title">Hello, <%=req.user.userName%></h4>
        <h1 class="card-text">Welcome to <b>Claster!</b></h1>
        <% } else {%>
        <h4 class="card-text">PLEASE LOG IN!</h4>
        <% } %>
        
      </div>
    </div>
</div>

<%- include('footer'); -%>
