<%- include('header') -%>
<%- include('navbar') -%>

<div class="jumbotron masthead parallax" id="superView">

  <h1 id="welcome">Login to <b>Claster</b> </h1>
  <h4 id="welcome"> You would need a Google account to login</h4>
  <br>
  <a class="btn btn-primary" id="loginBtn" href="/auth/google">
    <span class="fa fa-google-plus"> Login with Google</span>
  </a>
</div>

<%- include('footer'); -%>
