<nav class="nav nav-pills">
    <a class="nav-item nav-link" href="/">Claster</a>
    <%if (!loggedIn) {%>
    <a class="nav-item nav-link" href="/login">Login</a>
    <%} else {%>
    <a class="nav-item nav-link" href="/logout">Logout</a>
    <% } %>
    <a class="nav-item nav-link" href="/about">About</a>

</nav>
