<header class="header">
  <div class="header__content header__content--fluid-width">
    <a class="header__logo-title">Claster</a>
    <nav class="header__menu">
      <ul>
        <li>
          <a class="header-link" href="/">HOME</a>
        </li>

        <% if (loggedIn) {%>
        <li>
          <a class="header-link" href="#" >FORUM</a>
          <ul class="sub-menu">
            <% for (i = 0; i < user.classCodes.length; i++) {%>
              <li><a href="/showQuestions/<%=user.classCodes[i]%>" class="header-link"><%=user.classCodes[i]%></a></li>
            <% } %>
          </ul>
        </li>
        <% } %>


        <li>
          <% if (loggedIn) {%>
            <a class="header-link" href="/classes">ADD CLASS</a>
          <% } %>
        </li>

        <li>
          <% if (loggedIn) {%>
            <a class="header-link" href="#tutor">FIND TUTOR</a>
            <ul class="sub-menu">
              <li><a href="/tutorRegister" class="header-link">BECOME A TUTOR</a></li>
              <li><a href="/showTutors" class="header-link">FIND A TUTOR</a></li>
              <li><a href="#" class="header-link">SEE TUTOR RANKING</a></li>
            </ul>
          <% } %>
        </li>

        <li>
          <a class="header-link" href="#profile">PROFILE</a>
          <ul class="sub-menu">
            <li>
              <% if (loggedIn) {%>
                <a class="header-link" href="/myProfile/<%=user._id%>">VIEW MY PROFILE</a>
              <% } %>
            </li>
            <li>
              <% if (loggedIn) {%>
                <a href="/editMyProfile/<%=user._id%>">EDIT MY PROFILE</a>
              <% } %>
            </li>
            <li>
              <% if (loggedIn) {%>
                <a class="header-link" href="/showProfiles" >ALL PROFILES</a>
              <% } %>
            </li>
          </ul>
        </li>

        <li class="header__btn header__btn--login">
          <% if (!loggedIn) {%>
          <a class="nav-link" href="/auth/google">Login with Google</a>
          <%} else {%>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </li>
      </ul>
    </nav>
  </div>
</header>
