<!-- <script src="public/javascript/scroll.js"></script>
<script src="public/javascript/scroll.min.js"></script> -->

<header class="header">
  <div class="header__content header__content--fluid-width">
    <a class="header__logo-title">Claster</a>
    <nav class="header__menu">
      <ul>
        <li>
          <a class="header-link" href="/">HOME</a>
        </li>
        <li>
          <a class="header-link" href="/showQuestions" >FORUM</a>
        </li>
        <li>
          <% if (loggedIn) {%>
            <a class="header-link" href="#tutor">FIND TUTOR</a>
          <% } %>
        </li>

        <li>
          <% if (loggedIn) {%>
            <a class="header-link" href="/myProfile/<%=user._id%>">PROFILE</a>
          <% } %>
        </li>

        <li>
          <% if (loggedIn && status == 'admin') {%>
            <a class="header-link" href="/showProfiles" >ALL PROFILES</a>
          <% } %>
        </li>

        <li>
          <a href="/FAQ" class="header-link">FAQ</a>
        </li>

        <li class="header__btn header__btn--login">
          <% if (!loggedIn) {%>
          <a class="nav-link d-flex ml-5" id="btnBorder" href="/auth/google">Login with Google</a>
          <%} else {%>
          <a class="nav-link d-flex ml-5" id="btnBorder" href="/logout">Logout</a>
          <% } %>
        </li>
      </ul>
    </nav>
  </div>
</header>
