<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <h1>Post Question Here!</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form method="post" action="/processQuestionPost/<%=req.params.classCode%>">
              <div class="form-group">
                <h5 class="card-header">Title</h5>
                <input type="text" class="form-control" name="question"> <br>
              </div>
              <div class="form-group">
                <h5 class="card-header">What you have done? </h5>
                <textarea class="form-control" name = "haveDone" rows="5"></textarea>
              </div>
              <div class="form-group">
                <h5 class="card-header">What do you need help with? </h5>
                <textarea class="form-control" name = "helpWith" rows="5"></textarea>
              </div>
              <input class="btn btn-outline-primary" type="submit">
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>
