<%- include('header'); -%>
<%- include('navbar'); -%>


  <div class="jumbotron north ">
    <h1 id="welcome">Please Type Your Answer <b>Here!</b></h1>
      <div class="jumbotron lightgrey parallax parallax" >
          <form method="post" action="/processAnswerPost">
          <div class="form-group">
            <label for="answers">Please type your responses below:</label>
            <textarea class="form-control" id="answer" rows="10" placeholder="Enter Your Response"></textarea>
            <small id="reminder" class="form-text text-muted">Your Response will be Public to All the Users</small>
          </div>
        </form>
      </div>


  </div>


<%- include('footer'); -%>
