<%- include('header'); -%>
<%- include('navbar'); -%>
<h1> All set!</h1>
<p> You can contact your tutor through:  </p>
<p> After you have finished your session, please rate your tutor.
<button type="button" class="btn btn-secondary">Contact Tutor</button>


<%- include('footer') -%>
