<%- include('header') -%>
<%- include('navbar') -%>

<section class="section section--grey">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                Find a tutor OR become a tutor
            </div>
        </div>
    </div>
</section>

<section class="section section--grey">
    <div class="section__content section__content--fluid-width section__content--padding">
        <div class="partners">
            <div class="partners__content swiper-wrapper">
                <div class="partners__slide swiper-slide">
                    <% if (loggedIn) { %>
                        <div class="partners__text">
                            <br>
                            <a href="/showTutors"><input
                                        class="btn btn-outline-dark"
                                        type="button"
                                        value="Find a tutor"></a>
                        </div>
                        <div class="partners__text">
                            <br>
                            <a href="/tutorRegister"><input
                                        class="btn btn-outline-dark"
                                        type="button"
                                        value="Become a tutor%>"></a>
                        </div>
                    <% } else { %>
                        <div class="partners__text">
                            Please login to view this page
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="partners__pagination swiper-pagination"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<%- include('footer') -%>
