body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar{
  padding-bottom: 1%;
  font-size: 18px;
  font-style: white;
  background: black;
}

.nav-item{
  color: white;
}

a:hover{
  color: #a8caff;
}

.navbar-brand{
  padding-top: 2px;
  font-size: 28px;
}

.jumbotron.masthead {
  opacity: 0.8;
  background: radial-gradient(circle, #b3e0ff, pink);
}
